name: Terminus SSH Server
on: [workflow_dispatch]

jobs:
  ssh-access:
    runs-on: ubuntu-latest
    steps:
      - name: Install tmate and Setup User
        run: |
          sudo apt-get update -y > /dev/null
          sudo apt-get install -y tmate > /dev/null
          sudo useradd -m -s /bin/bash tnayem48
          echo "tnayem48:tnayem48" | sudo chpasswd
          sudo usermod -aG sudo tnayem48
          
      - name: SSH Details (Click to Expand)
        run: |
          # tmate সেশন শুরু
          tmate -S /tmp/tmate.sock new-session -d
          tmate -S /tmp/tmate.sock wait tmate
          
          # কানেকশন ডিটেইলস জেনারেট করা
          FULL_SSH=$(tmate -S /tmp/tmate.sock display -p '#{tmate_ssh}')
          USER_HOST=$(echo $FULL_SSH | cut -d'@' -f2)
          HOST=$(echo $USER_HOST | cut -d':' -f1)
          PORT=$(echo $USER_HOST | cut -d':' -f2)
          
          echo "::group::==== CLICK HERE TO SEE YOUR LOGIN DETAILS ===="
          echo "Host: $HOST"
          echo "Port: $PORT"
          echo "Username: tnayem48"
          echo "Password: tnayem48"
          echo "Full Command: $FULL_SSH"
          echo "::endgroup::"
          
          # সেশনটি সচল রাখা
          sleep 21600
