name: Terminus SSH Fixed
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  ssh-access:
    runs-on: ubuntu-latest
    steps:
      - name: Setup User
        run: |
          sudo useradd -m -s /bin/bash tnayem48
          echo "tnayem48:tnayem48" | sudo chpasswd
          sudo usermod -aG sudo tnayem48

      - name: Start SSH Session
        uses: lhotari/action-upterm@v1
        with:
          ## এটি সেশনটি চালু রাখবে যতক্ষণ আপনি কানেক্টেড আছেন
          wait-timeout-minutes: 5
