name: Terminus SSH Localtunnel
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  ssh-access:
    runs-on: ubuntu-latest
    steps:
      - name: Setup User and SSH
        run: |
          sudo apt-get update -y > /dev/null
          sudo apt-get install -y openssh-server > /dev/null
          sudo useradd -m -s /bin/bash tnayem48
          echo "tnayem48:tnayem48" | sudo chpasswd
          sudo usermod -aG sudo tnayem48
          sudo service ssh start
          
      - name: Start Localtunnel and Show Details
        run: |
          # Localtunnel ইনস্টল এবং রান করা
          npm install -g localtunnel > /dev/null 2>&1
          lt --port 22 > tunnel.log 2>&1 &
          
          echo "Waiting for Host..."
          sleep 10
          
          # ইউআরএল থেকে হোস্টনেম ফিল্টার করা
          LT_URL=$(grep -o 'https://[-a-z0-9.]*localtunnel.me' tunnel.log | sed 's/https:\/\///')
          
          echo "------------------------------------------"
          echo "   LOGIN DETAILS FOR TERMINUS APP   "
          echo "------------------------------------------"
          echo "Host: $LT_URL"
          echo "Port: 22"
          echo "Username: tnayem48"
          echo "Password: tnayem48"
          echo "------------------------------------------"
          
          # সেশন সচল রাখা
          sleep 21600
